body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.glow {
    font-size: 48px; /* Increased font size */
    font-weight: bold; /* Roboto bold */
    color: red; /* Changed text color to red */
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px; /* Add margin to the right */
}

.glow::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.glow:hover::before {
    opacity: 1;
}

a {
    color: #00fff9;
    text-decoration: none;
    display: inline-block; /* Display as inline-block */
    margin-top: 20px;
}

.link-container {
    display: inline-block; /* Display as inline-block */
    margin-top: 20px;
}
